/*File for own Css-Rules*/

hr {
    margin: 50px 0;
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #eeeeee;
}

#kasten {
    border-width: 1.9px;
    border-style: solid;
    border-color: #cccccc;
    padding: 1em;
    text-align: justify;
}